scripts/n8n-monitoring-workflow.json
{
  "name": "AI Act Bronnen Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeks": 1
            }
          ]
        }
      },
      "name": "Wekelijkse Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [250, 300],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "https://digital-strategy.ec.europa.eu/en/policies/ai-office",
        "options": {}
      },
      "name": "Fetch AI Office",
      "type": "n8n-nodes-base.httpRequest",
      "position": [450, 200],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "url": "https://digital-strategy.ec.europa.eu/en/news?topic=135",
        "options": {}
      },
      "name": "Fetch AI News",
      "type": "n8n-nodes-base.httpRequest",
      "position": [450, 400],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "jsCode": "// Extract news items from HTML\nconst html = $input.first().json.data;\n\n// Simple regex to find news titles and dates\nconst newsPattern = /<article[^>]*>([\\s\\S]*?)<\\/article>/gi;\nconst titlePattern = /<h[23][^>]*>([^<]+)<\\/h[23]>/i;\nconst datePattern = /datetime=\"([^\"]+)\"/i;\n\nconst matches = html.matchAll(newsPattern);\nconst news = [];\n\nfor (const match of matches) {\n  const article = match[1];\n  const titleMatch = article.match(titlePattern);\n  const dateMatch = article.match(datePattern);\n  \n  if (titleMatch) {\n    news.push({\n      title: titleMatch[1].trim(),\n      date: dateMatch ? dateMatch[1] : new Date().toISOString(),\n      source: 'AI Office'\n    });\n  }\n}\n\n// Return last 5 news items\nreturn news.slice(0, 5).map(item => ({ json: item }));"
      },
      "name": "Parse News",
      "type": "n8n-nodes-base.code",
      "position": [650, 400],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.title }}",
              "value2": ""
            }
          ]
        }
      },
      "name": "Has News?",
      "type": "n8n-nodes-base.if",
      "position": [850, 400],
      "typeVersion": 1
    },
    {
      "parameters": {
        "owner": "ipaqpocketpc",
        "repository": "aiact-kennisbank",
        "title": "=Nieuwe EU publicatie: {{ $json.title }}",
        "body": "=## Nieuwe publicatie gevonden\n\n**Titel:** {{ $json.title }}\n**Datum:** {{ $json.date }}\n**Bron:** {{ $json.source }}\n\n---\n\n### Actie nodig:\n- [ ] Controleer of dit relevant is\n- [ ] Voeg toe aan kennisbank indien nodig\n- [ ] Update gerelateerde pagina's op aiacteu.nl",
        "labels": ["nieuws", "auto-generated"]
      },
      "name": "Create GitHub Issue",
      "type": "n8n-nodes-base.github",
      "position": [1050, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "channel": "#ai-act-updates",
        "text": "=:newspaper: *Nieuwe AI Act publicatie*\n\n*{{ $json.title }}*\nDatum: {{ $json.date }}\nBron: {{ $json.source }}\n\nCheck GitHub issues voor details.",
        "otherOptions": {}
      },
      "name": "Slack Notificatie",
      "type": "n8n-nodes-base.slack",
      "position": [1050, 500],
      "typeVersion": 2.1
    }
  ],
  "connections": {
    "Wekelijkse Check": {
      "main": [
        [
          {"node": "Fetch AI Office", "type": "main", "index": 0},
          {"node": "Fetch AI News", "type": "main", "index": 0}
        ]
      ]
    },
    "Fetch AI News": {
      "main": [
        [{"node": "Parse News", "type": "main", "index": 0}]
      ]
    },
    "Parse News": {
      "main": [
        [{"node": "Has News?", "type": "main", "index": 0}]
      ]
    },
    "Has News?": {
      "main": [
        [
          {"node": "Create GitHub Issue", "type": "main", "index": 0},
          {"node": "Slack Notificatie", "type": "main", "index": 0}
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}